.registerForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 60px;
}

.form-label{
  text-align: end;
  width: 33%;
  margin: auto;
  padding: 12px 12px 12px 0;
}

.form-control{
  offset-block-end: inherit;
  width: 30%;
  margin-top: 6px;
  display: inline-block;
  margin: 0 0 1em 0;
  border: 1px solid #818181;
  padding: 5px;
}

.App-logo {
  height: 60px;
}
.App-title {
  text-shadow: 2px 2px 4px #000000;
  font-size: 35px;
  text-align: center;
}
/* 
.App-img-product {
  object-fit: fill;
  height: 100%;
  width: 100%;
}



.App-body-title {
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  font-size: 30px;
}
.App-img-product:hover {
  transform: scale(1.1);
} */

body{        
  background-color: #f2f2f2;
}

/* Center the DIV horizontally */
.container{
  width: 80%;
  margin: 0 auto; 
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: relative;        
  background: rgb(0, 204, 255);
  padding: 10px 0;
  color: #fff;
}
.fixed-header{ 
  height: 100px;
  color: white;
  top: 0;
}
.fixed-footer{
  text-align: center;
  height: 40px;
  bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.container p{
  line-height: 200px; /* Create scrollbar to test positioning */
}