.mr-auto :hover{
    background: rgba(109, 221, 255, 0.884);
    font-weight: bold;
    border: 1px solid;
    border-radius: 10px;
    color:white;
}    

.mr-auto {
    font-size: 25px;
    color:white;
}    